span.cl_header_name{display:block;font-size: 13px;}
span.cl_header_email{display:block;font-size: 11px;font-style: italic;}
span.cl_header_address{display:block;font-size: 11px;font-style: italic;}
td#to_day{font-size: 11px;font-style: italic;}

#tbl_header{width:100%; table-layout: fixed;}
#tbl_header td, #tbl_header th{ padding:15px; }

#feature_tbl, #all_clients {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#feature_tbl input.title, input.desc{
    width: 95%;
}


#feature_tbl td, #feature_tbl th, #all_clients td, #all_clients th {
    border: 1px solid #ddd;
    padding: 6px;
}

#feature_tbl tbody tr:nth-child(even), #all_clients tbody tr:nth-child(even)
{background-color: #f2f2f2;}

#feature_tbl tbody tr:hover, #all_clients tbody tr:hover, {background-color: #ddd;}

#feature_tbl th,  #all_clients th, #client_form > table th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #8a97a0;
    color: #FFF;
}


.priority input,select{
    display:inline-block;
}

div.btn {
    display: inline-block;
    background-color:#3369ff;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    border-radius:0.15em;
    box-sizing: border-box;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    font-size: 15px;
    font-weight: bold;
    cursor:pointer;
}

/* ----------- client dialog form --------------*/

div#client_form {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 400px;
  height:400px;
  z-index:500;
  background-color:lightblue;
  opacity: 0.9;
  padding:10px;
}
#form_popup table{
    width: 90%;
}

.fa-close{
font-size:18px;
color:red;
}

div#client_form td {font-size: 13px;}


