{% extends "layout.html" %}

{% block head %}
{{ super() }}

{% endblock%}

{% block content %}
{{ super() }}

<table border="1" id="all_clients">
<thead>
<tr><td colspan="3" style="color:blue;">Client's Dashboard</td>
<td colspan="4" align="right">
{% include 'menu.html' %}
</td>
</tr>
<tr><th>Firstname</th><th>Lastname</th><th>Email</th><th>Telephone</th><th>Address</th><th></th><th></th></tr>
</thead>
<tbody  data-bind = "foreach : clients">
<tr>
    <td data-bind="html:firstname"></td><td data-bind="html:lastname"></td>
    <td data-bind="html:email"></td>
    <td data-bind="html:phone"></td>
    <td data-bind="html:address"></td>
    <td>
        <a data-bind="click:$root.getclient">Edit</a>
    </td>
    <td>
        <a data-bind="attr:{href:url_ftr}">Features</a>
    </td>
</tr>
</tbody>
</table>
<div class="btn_groups"><div class="btn" id="create_user" data-bind="click:getclient">Create User</div></div>

<div id="client_form" data-bind="visible:show_client_form">
    <table style="width: 100%">
    <tr>
         <th><span style="font-size:18px;font-weight:bold" data-bind="text:add_edit_txt"></span></th> 
        <th align="right"><i class="fa fa-close"  data-bind="click:$root.close_mod"></i></th>
    </tr>
    </table>
   
    
    <p>
    <form id="form_popup">
        <table>
        <thead>

        </thead>
        <tbody data-bind="with : slctd_client">
        <tr>
        <td>FirstName</td>
        <td><input type="text" name="firstname" data-bind="value:firstname" /><input type="hidden" data-bind="value:client_id" /></td>
        </tr>
        <tr>
        <td>LastName</td>
        <td><input type="text" name="lastname" data-bind="value:lastname" /></td>
        </tr>
        <tr>
        <td>Email</td>
        <td><input type="text" name="email" data-bind="value:email"></td>
        </tr>
        <tr>
        <td>Username</td>
        <td><input type="text" name="uname" data-bind="value:username"></td>
        </tr>
        <tr>
        <td>Password</td>
        <td><input type="password" name="password" placeholder="keep blank for original" data-bind="value:password"></td>
        </tr>
        <tr>
        <td>Phone</td>
        <td><input type="text" name="phone" data-bind="value:phone" /></td>
        </tr>
        <tr>
        <td>Address</td>
        <td><textarea cols="25" rows="3" name="address" data-bind="value:address"></textarea></td>
        </tr>
        <tr>
        <td>State</td>
        <td><input type="text"  data-bind="value:state" /></td>
        </tr>
        <tr>
        <td>Zipcode</td>
        <td><input type="text" name="zipcode" data-bind="value:zipcode" /></td>
        </tr>
        <tr>
        <td>Country</td>
        <td><input type="text" name="country" data-bind="value:country" /></td>
        </tr>
    
        <tr>
        <tr><td></td><td><input type="submit" data-bind="click:$root.submitClient"/></td></tr>
        </tbody>
        </table>
    </form>
</p>
</div>


<script type="text/javascript">
    data = {{ data|tojson|safe }}; 
    
</script>

{% endblock %}

{% block footer %}
{{ super() }}
<script src="{{url_for('static',filename='js/clients.js')}}"></script>
<script type="text/javascript">
apply_client_binding(data);
</script>
{% endblock %}



